.End-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  /* Remove padding to allow full coverage */
  padding: 0;
  /* Ensure this section is above other content */
  z-index: 1;
  overflow: hidden;
}