.dot-grid {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 40px;

  
}

.dot-row {
  display: flex;
  gap: 20px;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: #edfe00; /* neon green */
  border-radius: 50%;
}
