.marquee {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background: #000; /* hitam solid */
  padding: 40px 0;
  border-top: 4px solid #FFD700;   /* garis kuning emas */
  border-bottom: 4px solid #FFD700;
}

.marquee-inner {
  display: inline-flex;
  animation: marquee 15s linear infinite;
}

.marquee-inner span {
  font-size: 30px;
  font-weight: 900;
  padding-right: 80px;
  color: #FFD700;  /* kuning emas */
  text-shadow: 0px 0px 10px rgba(255, 215, 0, 0.5); /* glow biar hidup */
  letter-spacing: 2px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
